<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <title>Elunch</title>
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/css//style.css" />
    <script src="../public/formindex.js" async></script>
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body id="clrblk" class="body">
    <header class="container__header">
        <h1 class="container__header-h1">
            Witaj w aplikacji zamawiania lunchu.<br> Zaloguj się w celu identyfikacji.
        </h1>
    </header>
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Logowanie</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger col-sm-12">
                        <%= message %>
                    </div>
                    <% } %>
                        <form id="loginform" class="form-horizontal" role="form" method="post" action="/login">
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-sesa_no" type="text" class="form-control" name="sesa_no1" value="" placeholder="sesa" />
                                <div id="info"></div>
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" placeholder="password" />
                            </div>

                            <div style="margin-top:10px" class="form-group">
                                <div class="col-sm-12 controls">
                                    <button id="btn-login" type="submit" class="btn btn-success" name="btn_pass">
                    Zaloguj sie!
                  </button>
                                </div>
                            </div>
                        </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>