<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.onload = function() {
                var now = new Date();
                var day = ("0" + now.getDate()).slice(-2);
                var month = ("0" + (now.getMonth() + 1)).slice(-2);
                var today = now.getFullYear() + "-" + month + "-" + day;
                var before_few_days = now.getFullYear() + "-" + month + "-" + (day - 5);
                console.log(today);
                document.getElementById("data_to").value = today;
                document.getElementById("data_from").value = before_few_days;
                document.getElementById("btn").addEventListener("click", function() {
                    console.log(" click btn: ");

                });

            } //end of window load

        var myContacts = [{
            id: 1,
            Id_sesa_no: 1,
            order_date: '2020-01-08',
            order_supplier_name: 'Opoka',
            order_no: 1,
            order_name: 'Kotlet',
            order_price: 7
        }, {
            id: 2,
            Id_sesa_no: 2,
            order_date: '2020-01-08',
            order_supplier_name: 'Opoka',
            order_no: 2,
            order_name: 'Kotlet',
            order_price: 7
        }];

        function generateDynamicTable() {
            var noOfContacts = myContacts.length;
            if (noOfContacts > 0) {
                // CREATE DYNAMIC TABLE.
                var table = document.createElement("table");
                table.style.width = '100%';
                table.setAttribute('border', '2cd elunch');
                table.setAttribute('cellspacing', '0');
                table.setAttribute('cellpadding', '5');
                // retrieve column header ('Name', 'Email', and 'Mobile')
                var col = []; // define an empty array
                for (var i = 0; i < noOfContacts; i++) {
                    for (var key in myContacts[i]) {
                        if (col.indexOf(key) === -1) {
                            cd
                            col.push(key);
                        }
                    }
                }
                // CREATE TABLE HEAD .
                var tHead = document.createElement("thead");
                // CREATE ROW FOR TABLE HEAD .
                var hRow = document.createElement("tr");
                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");
                    th.innerHTML = col[i];
                    th.style.textAlign = "center";
                    hRow.appendChild(th);
                }
                tHead.appendChild(hRow);
                table.appendChild(tHead);
                // CREATE TABLE BODY .
                var tBody = document.createElement("tbody");
                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                for (var i = 0; i < noOfContacts; i++) {
                    var bRow = document.createElement("tr"); // CREATE ROW FOR EACH RECORD .
                    for (var j = 0; j < col.length; j++) {
                        var td = document.createElement("td");
                        td.style.textAlign = "center";
                        td.innerHTML = myContacts[i][col[j]];
                        bRow.appendChild(td);
                    }
                    tBody.appendChild(bRow)
                }
                table.appendChild(tBody);
                // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                var divContainer = document.getElementById("table");
                divContainer.innerHTML = "";
                divContainer.appendChild(table);
            }
        }

        function orderList() {
            // Make a request for a user with a given ID
            axios.post('/home/orders', {
                    data_from: document.getElementById("data_from").value,
                    data_to: document.getElementById("data_to").value
                })
                .then(function(response) {
                    // handle success
                    // console.log(response.data.message);
                    myContacts = response.data.message;
                    //console.log(myContacts);
                    generateDynamicTable();
                    // location.reload();
                })
                .catch(function(error) {
                    // handle error
                    console.log(error);
                })
                .finally(function() {
                    // always executed
                });
        };
    </script>
</head>

<body class="body">
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home/new_order">Powtót</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/logout">Wylogowanie</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div class="jumbotron">
            <p>Historia twoich zamówień, wybierz zakres raportu:</p>
            <!-- <form action="/home/orders" method="post" name="form_orders"> -->
            Od:<input type="date" name="data_from" id="data_from"> Do:
            <input type="date" name="data_to" id="data_to">
            <button type="button" id="btn" onclick="orderList()">Zatwierdź</button>
            <!-- <button type="submit"  class="btn btn-primary"  >Zatwierdź</button> -->
            <!-- </form>  -->
            </p>
            <div class="table-responsive">
                <table id="table" class="table table-bordered">
                </table>
            </div>
        </div>
    </div>
</body>

</html>