<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Raport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" />
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
    <script type="text/javascript" src="../public/stylerow.js"></script>
</head>

<body class="body">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset="" style="margin-right: 20px;"></li>
                        <li class="active"><a href="/home/dashboard">Powrót</a></li>
                        <li><a href="/home/orders3">Historia zamówień użytkownika</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/logout">Wylogowanie</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron2">
            <h4 class="headers__h4-blue">Raport: </h4>
            <div class="ramka">Od:<input type="date" name="data_from" id="data_from" class="input-complaint"> Do:
                <input type="date" name="data_to" id="data_to" class="input-complaint">
                <select id="selectType" name="selectType" class="input-complaint">
        <option value="empty">wybierz ...</option>
        <option value="dvc">DVC</option>
        <option value="mbc">MBC</option>        
      </select>
                <select id="selectRaport" name="selectRaport" class="input-complaint">
        <option value="empty">wybierz ...</option>
        <option value="founding">Dofinansowanie</option>
        <option value="deduction">Potrącenie</option>
      </select></div>
            <button type="button" id="btn" class="btn btn-success">Zatwierdź</button>
            </p>
            <br>
            <div id="table-responsive" class="table-responsive">
                <div id="toolbar" style="display: flex;">
                    <div>
                        <img src="/public/img/logo.png" alt="logo">
                    </div>
                    <div>
                        <p style="color: green;font-size:small ;">SCHNEIDER ELECTRIC INDUSTRIES POLSKA SP. Z O.O.</p>
                        <p style="font-size: small;">LISTA PŁAC ZA: <span id="month"> </span></p>
                        <p style="font-size: small;">PRACOWNICY: <span id="workers"> </span></p>
                    </div>
                </div>
                <table id="table" data-locale="pl-PL" data-toolbar="#toolbar" data-search="true" data-height="auto" data-show-export="true" data-pagination="false" data-show-footer="true" data-show-print="true" data-pagination-pre-text="Poprzedni" data-pagination-next-text="Następny"
                    data-page-list="[3, 5, 10, 15, all]" data-response-handler="responseHandler">
                    <thead>
                        <tr>
                            <th data-field="person_no">Nr. akt pracownika</th>
                            <th data-field="name">Imię i nazwisko</th>
                            <th data-field="text_name" data-formatter="operateFormatter6">Nazwa składnika</th>
                            <th data-field="text_no" data-formatter="operateFormatter7">Nr. składnika</th>
                            <th data-field="SUM(`founding`)" data-footer-formatter="priceFormatter1">Kwota</th>
                            <th data-field="SUM(`deduction`)" data-footer-formatter="priceFormatter2">Kwota</th>
                            <th data-field="text_comments" data-formatter="operateFormatter5">Komentarz</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="/public/raport.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" />
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/print/bootstrap-table-print.min.js"></script>

</body>

</html>