<html lang="pl">
<%- include header %>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>Witaj
            <%=fname%>,</h2>
        <p>Aby zamówić obiad kliknij w przycisk "Zamów Obiad" w menu głównym. Do sprawdzenia co masz zamówione na dzisiaj oraz twoje poprzednie zamówienia użyj przycisku "Historia" Zamówienia online przez aplikacje mozesz składać każdego dnia do godziny
            10.00. Po godzinie 10.00 skontaktuj się telefonicznie z recepcją nr. tel 326258400 Życzymy smacznego !</p>
    </div>
    <%- include footer %>