<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" />
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/print/bootstrap-table-print.min.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
</head>

<body class="body">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset="" style="margin-right: 20px;"></li>
                        <li class="active"><a href="/home/dashboard">Powrót</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/logout">Wylogowanie</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron2">
            <p>Zamówione dania:
                <input type="date" name="data_list" id="data_list"> </input>
                <button type="button" id="btn">Zatwierdź</button>
            </p>
            <div id="table-responsive" class="table-responsive">
                <table id="table_list" class="table table-bordered" data-show-refresh="true" data-show-print="true" data-auto-refresh="true" data-locale="pl-PL" data-search="true" data-height="400" data-show-export="true" data-click-to-select="true" data-pagination="true"
                    data-show-pagination-switch="true" data-pagination-pre-text="Poprzedni" data-pagination-next-text="Następny" data-page-list="[3, 5, 10, 15, all]" data-response-handler="responseHandler">
                    <thead>
                        <tr>
                            <th data-field="first_name">Imię</th>
                            <th data-field="last_name">Nazwisko</th>
                            <th data-field="order_supplier_name">Dostawca</th>
                            <th data-field="order_no">Numer zamówieina</th>
                            <th data-field="order_name">Danie</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <script>
            window.onload = function() {
                    $table = $("#table_list");
                    var mytable;
                    var now = new Date();
                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);
                    var today = now.getFullYear() + "-" + month + "-" + day;

                    document.getElementById("data_list").value = today;
                    document.getElementById("btn").addEventListener("click", function() {
                        document.getElementById("table-responsive").style.display = "inline";
                        data_list();
                    });
                    document.getElementById("data_list").addEventListener("change", function() {
                        data_list();
                    });
                    data_list();
                } //end of window load

            function data_list() {
                // Make a request for a user with a given ID
                axios.post('/home/new_list', {
                        data_list: document.getElementById("data_list").value
                    })
                    .then(function(response) {
                        // handle success
                        mytable = response.data.message;
                        // console.log("mytable",mytable);
                        $table.bootstrapTable('destroy')
                        $table.bootstrapTable({
                            data: mytable
                        });
                    })
                    .catch(function(error) {
                        // handle error
                        console.log(error);
                    })
                    .finally(function() {
                        // always executed
                    });
            };
        </script>
</body>

</html>