<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <title>Elunch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li> <img src="/public/img/logo2.png" with="94" height="45" alt="logo" srcset="" style="margin-right: 20px;"></li>
                        <li class="active"><a href="/home/new_order2">Powrót</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home/logout">Wylogowanie</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron2">
            <p>Historia twoich zamówień, wybierz zakres raportu:</p>
            Od:<input type="date" name="data_from" id="data_from"> Do:
            <input type="date" name="data_to" id="data_to">
            <button type="button" id="btn">Zatwierdź</button>
            </p>
            <div id="table-responsive" class="table-responsive">
                <table id="table" data-locale="pl-PL" data-search="true" data-height="530" data-show-export="true" data-pagination="true" data-pagination-pre-text="Poprzedni" data-pagination-next-text="Następny" data-page-list="[3, 5, 10, 15, all]">
                    <thead>
                        <tr>
                            <th data-field="id">ID</th>
                            <th data-field="Id_sesa_no">SESA</th>
                            <th data-field="first_name">Imię</th>
                            <th data-field="last_name">Nazwisko</th>
                            <th data-field="order_date">Data</th>
                            <th data-field="order_supplier_name">Dostawca</th>
                            <th data-field="order_no">Nr. dania</th>
                            <th data-field="order_name">Danie</th>
                            <th data-field="order_price">Cena</th>
                            <th data-field="founding">Dofinansowanie</th>
                            <th data-field="deduction">Potrącenie</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <script src="/public/orders2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" />
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-locale-all.min.js"></script>
</body>

</html>